body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top:-55px;
    background-image: url("../images/home.png");
    min-height: 100%;
    margin-bottom: -10 0px;
}
.w3-bar .w3-button {
    padding: 16px;
}
.ourServiceText{

    text-align: center;
    font-size: 25px;
    margin-top: 100px;
    font-family: "Brush Script Std", cursive;
}

#home-tengah{
    background-color: #E0F0FF;
}

#welcome{
    font-family: "Brush Script Std", cursive;
}

welcome, h1, h3{
    font-style: center;
}

  
  